In [9]:
import pandas as pd, ipywidgets as widgets, numpy as np, matplotlib.pyplot as plt, io, seaborn as sns
from ipywidgets import interact, interactive, fixed, interact_manual
from scipy.optimize import curve_fit

raw_uploader = widgets.FileUpload(multiple = False)
display(raw_uploader)

FileUpload(value={}, description='Upload')

In [11]:
iquename = list(raw_uploader.value.keys())[0]
iquedata = pd.read_csv(io.BytesIO(raw_uploader.value[iquename]['content']))
iquedata.rename(columns = {'Plate' : 'iQue3 Plate','Well ID':'iQue3 384 Well ID'}, inplace = True)
iquedata

,Experiment,Analysis,iQue3 Plate,Export Date and Time,iQue3 384 Well ID,Row,Column,Well Type,Count of All Wells,Median BL1-H of singlets,Median RL1-H of singlets,Count of singlets
0,22_10_28 Xyphos A2a Titrations BPP618 P1-2,Analysis 1,Plate 1,10/31/2022 2:45:16 PM,A01,A,1,Positive,5109,5349865.5,26505.0,1222
1,22_10_28 Xyphos A2a Titrations BPP618 P1-2,Analysis 1,Plate 1,10/31/2022 2:45:16 PM,B01,B,1,Positive,6373,8186295.0,29731.0,1186
2,22_10_28 Xyphos A2a Titrations BPP618 P1-2,Analysis 1,Plate 1,10/31/2022 2:45:16 PM,C01,C,1,Positive,7211,6582572.0,41930.0,1585
3,22_10_28 Xyphos A2a Titrations BPP618 P1-2,Analysis 1,Plate 1,10/31/2022 2:45:16 PM,D01,D,1,Positive,4870,8853872.0,50952.0,1008
4,22_10_28 Xyphos A2a Titrations BPP618 P1-2,Analysis 1,Plate 1,10/31/2022 2:45:16 PM,E01,E,1,Positive,6510,7292166.0,68934.0,1383
...,...,...,...,...,...,...,...,...,...,...,...,...
1019,22_10_28 Xyphos A2a Titrations BPP618 P1-2,Analysis 1,Plate 2 redo,10/31/2022 2:45:16 PM,L22,L,22,Negative,2927,16204.0,13222.0,1722
1020,22_10_28 Xyphos A2a Titrations BPP618 P1-2,Analysis 1,Plate 2 redo,10/31/2022 2:45:16 PM,M22,M,22,Negative,4040,16486.0,21626.0,2773
1021,22_10_28 Xyphos A2a Titrations BPP618 P1-2,Analysis 1,Plate 2 redo,10/31/2022 2:45:16 PM,N22,N,22,Negative,3158,16198.0,20012.0,1811
1022,22_10_28 Xyphos A2a Titrations BPP618 P1-2,Analysis 1,Plate 2 redo,10/31/2022 2:45:16 PM,O22,O,22,Negative,2228,15705.5,38679.0,1434
1023,22_10_28 Xyphos A2a Titrations BPP618 P1-2,Analysis 1,Plate 2 redo,10/31/2022 2:45:16 PM,P22,P,22,Negative,2236,15692.0,45648.0,1281

In [34]:
pivot_data = iquedata[["iQue3 Plate", "Row", "Column", "Well Type", "Median RL1-H of singlets", "Count of singlets"]]
pivot_data["iQue3 Plate+Well"] = (pivot_data["iQue3 Plate"] + "-" + pivot_data["Column"].astype(str))
pivot_data = pivot_data[["Median RL1-H of singlets", "iQue3 Plate+Well"]]
pivot_data

/var/folders/k8/mg372j_55z30k1z4y_8mb0w00000gn/T/ipykernel_7017/4240189306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_data["iQue3 Plate+Well"] = (pivot_data["iQue3 Plate"] + "-" + pivot_data["Column"].astype(str))

      Median RL1-H of singlets iQue3 Plate+Well
0                      26505.0        Plate 1-1
1                      29731.0        Plate 1-1
2                      41930.0        Plate 1-1
3                      50952.0        Plate 1-1
4                      68934.0        Plate 1-1
...                        ...              ...
1019                   13222.0  Plate 2 redo-22
1020                   21626.0  Plate 2 redo-22
1021                   20012.0  Plate 2 redo-22
1022                   38679.0  Plate 2 redo-22
1023                   45648.0  Plate 2 redo-22

[1024 rows x 2 columns]

In [ ]:
n = pd.Series([1,2])